.ibu{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}
.ibuk{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}
.ibukk{
background-color: aqua;
width: 100vw;
height: 100vh;
}